:root {
  font-size: 105%;
}

.antialiased {
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
.prose h1, .prose h2, .prose h3,
.prose h4, .prose h5, .prose h6 {
  letter-spacing: var(--tracking-tight) !important;
}

body, .prose, .prose p, .prose li,
.prose td, .prose th, .prose blockquote {
  letter-spacing: 0.00625rem !important;
}

#sidebar-title {
  color: rgb(var(--gray-500));
  text-transform: uppercase;
  font-size: 80%;
  letter-spacing: 0.01875rem !important;
}
